/* styles/prism.css */
pre {
    background: var(--codefontbgcolor);
    color: var(--foreground);
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.5;
}

code {
    font-family: "Consolas", "Monaco", monospace;
    background: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.selector,
.token.tag {
    color: #e2777a;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f08d49;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
    color: #a9dc76;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #67cdcc;
}

.token.atrule,
.token.attr-name,
.token.keyword {
    color: #cc99cd;
}

.token.function,
.token.class-name {
    color: #f08d49;
}

.token.regex,
.token.important,
.token.variable {
    color: #fd971f;
}
